Thumbs.db
/.idea
/.work
id_rsa
id_rsa.pub
data.zip

!tests/bin/*.sh
/coverage
/vendor
/travis-ci
/gh-pages

/.coveralls.yml
/phpcs.xml
/phpmd.xml
/phpunit.xml
/tests/bootstrap.php
/.plugin
composer.lock
